<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>Adaptest - Simple Adaptive Testing</title>
<link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
<div class="container">
<div class="banner"><a href="/" class="jump">Adaptest</a></div>
<div class="subbanner">Training</div>
<div class="nav"></div>
<div class="cont">
<div class="nav">

</div>
<form id="myForm" action="/qTest" method="post">
<input type="text" name="QuestionSet">
<input type="submit">
</form>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="footer">
<div align="center">All rights reserved &copy; 2013</div>
</div>
</div>
</body>
</html>
